<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script>
  <title>AngularJS</title>
  <script type='text/javascript'>//<![CDATA[
    var templatesExample = angular.module('Templates', []);
	// Create the factory that share the Fact
	templatesExample.factory('Fact', function(){
	  return { Field: '' };
	});
    templatesExample.controller('HomeController', function ($scope,Fact) {
        $scope.greeting = "Welcome to the application.";
        $scope.storeData=function(){
          Fact.Field=$scope.firstpagedata;
        }
    });
    templatesExample.controller('AboutController', function ($scope,Fact) {
        $scope.content = "As a software developer, I've always loved to build things...";
        $scope.newcontent =Fact.Field;
    });
    templatesExample.config(function ($routeProvider) {
        $routeProvider.
        when('/home', {
            templateUrl: 'embedded.home.html',
            controller: 'HomeController'
        }).
        when('/about', {
            templateUrl: 'embedded.about.html',
            controller: 'AboutController'
        }).
        otherwise({
            redirectTo: '/home'
        });
    });
  //]]> 
  </script> 
</head>
<body ng-app="Templates">
  <script type="text/ng-template" id="embedded.home.html">
    <h1> Home </h1>
    <input type="text" name="myname" ng-model="firstpagedata" value="" />
    {{content}}
    <input type="button" value="Save Data" ng-click="storeData()" />
  </script>
  <script type="text/ng-template" id="embedded.about.html">
    <h1> About </h1>
    {{content}}
    Data from Page 1 : {{newcontent}}
  </script>
<div> 
      <div id="navigation">  
      <a href="#home">Home</a>
      <a href="#about">About</a>
      </div>
    <div ng-view></div>
</div>
</body>
</html>